In [3]:
import pandas as pd

In [11]:
active = pd.read_csv('/Users/albert/code/bankgreen-django/datasource/local/usnic/CSV_ATTRIBUTES_ACTIVE_ABRIDGED.CSV')
rssds = [x for x in active["#ID_RSSD"].unique()]

In [12]:
branches = pd.read_csv('/Users/albert/code/bankgreen-django/datasource/local/usnic/CSV_ATTRIBUTES_BRANCHES.CSV')

/var/folders/h1/0858kwcj3q9dmgv6nwdz9m540000gp/T/ipykernel_22487/2704325541.py:1: DtypeWarning: Columns (20,46,64,65,71,72) have mixed types. Specify dtype option on import or set low_memory=False.
  branches = pd.read_csv('/Users/albert/code/bankgreen-django/datasource/local/usnic/CSV_ATTRIBUTES_BRANCHES.CSV')

In [15]:
branches_abridged = branches[branches["ID_RSSD_HD_OFF"].isin(rssds)]
branches_abridged.to_csv('/Users/albert/code/bankgreen-django/datasource/local/usnic/CSV_ATTRIBUTES_BRANCHES_ABRIDGED.CSV')

In [2]:
# Find out whether control exists between multiple banks or just one in the relationship dataset

In [2]:
rels = pd.read_csv('/Users/albert/code/bankgreen-django/datasource/local/usnic/CSV_RELATIONSHIPS.CSV')
# rssds = [x for x in active["#ID_RSSD"].unique()]

NameError: name 'pd' is not defined

In [1]:
controlled_all = rels[rels["CTRL_IND"] == 1]
controlled_active = controlled_all[rels["DT_END"] == 99991231]

NameError: name 'rels' is not defined

In [22]:
controlled_children = controlled_active["ID_RSSD_OFFSPRING"]

In [30]:
duplicated_controlled = [x for x in controlled_children[controlled_children.duplicated(keep=False)]]

In [32]:
controlled_active[controlled_active["ID_RSSD_OFFSPRING"].isin(duplicated_controlled)].sort_values(by=["ID_RSSD_OFFSPRING", "#ID_RSSD_PARENT"])

# duplicated.sort_values(by=["ID_RSSD_OFFSPRING", "#ID_RSSD_PARENT"])

,#ID_RSSD_PARENT,ID_RSSD_OFFSPRING,D_DT_START,RELN_LVL,CTRL_IND,D_DT_RELN_EST,EQUITY_IND,OTHER_BASIS_IND,PCT_EQUITY,PCT_OTHER,...,REG_IND,PCT_EQUITY_BRACKET,PCT_EQUITY_FORMAT,D_DT_END,MB_COST,FC_IND,REGK_INV,DT_END,DT_RELN_EST,DT_START
257267,4759669,936462,09/01/2019 00:00:00,1,1,05/01/2015 00:00:00,1,0,40.0,0.0,...,1,25-50,EXACT,12/31/9999 00:00:00,0,0,0,99991231,20150501,20190901
266208,5375459,936462,09/01/2019 00:00:00,1,1,09/01/2019 00:00:00,1,0,45.0,0.0,...,1,25-50,EXACT,12/31/9999 00:00:00,0,0,0,99991231,20190901,20190901
158942,2492485,1080652,09/05/2018 00:00:00,1,1,11/20/1996 00:00:00,1,0,54.0,0.0,...,1,>50-<80,EXACT,12/31/9999 00:00:00,0,0,0,99991231,19961120,20180905
213779,3793219,1080652,09/05/2018 00:00:00,1,1,08/04/2008 00:00:00,1,0,29.0,0.0,...,1,25-50,EXACT,12/31/9999 00:00:00,0,0,0,99991231,20080804,20180905
143043,1975075,1103766,07/16/2002 00:00:00,1,1,08/06/1993 00:00:00,1,0,36.0,0.0,...,1,25-50,EXACT,12/31/9999 00:00:00,0,0,0,99991231,19930806,20020716
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223512,3943470,5807558,08/12/2022 00:00:00,1,1,08/12/2022 00:00:00,2,1,0.0,0.0,...,1,<25,BRACKET,12/31/9999 00:00:00,0,0,0,99991231,20220812,20220812
273572,5807530,5807558,08/12/2022 00:00:00,1,1,08/12/2022 00:00:00,0,1,0.0,0.0,...,1,0,N/A,12/31/9999 00:00:00,0,0,0,99991231,20220812,20220812
269605,5556968,5807615,03/31/2022 00:00:00,1,1,03/31/2022 00:00:00,2,1,0.0,0.0,...,1,<25,BRACKET,12/31/9999 00:00:00,0,0,0,99991231,20220331,20220331
269618,5557031,5807615,03/31/2022 00:00:00,1,1,03/31/2022 00:00:00,0,1,0.0,0.0,...,1,0,N/A,12/31/9999 00:00:00,0,0,0,99991231,20220331,20220331
272796,5733433,5807615,03/31/2022 00:00:00,1,1,03/31/2022 00:00:00,0,1,0.0,0.0,...,1,0,N/A,12/31/9999 00:00:00,0,0,0,99991231,20220331,20220331