In [24]:
import pandas as pd

In [56]:
active = pd.read_csv('/Users/albert/code/bankgreen-django/datasource/local/usnic/CSV_ATTRIBUTES_ACTIVE.CSV')[0:100]
active.to_csv('/Users/albert/code/bankgreen-django/datasource/local/usnic/CSV_ATTRIBUTES_ACTIVE_ABRIDGED.CSV')
rssds = [x for x in active["#ID_RSSD"].unique()]

/var/folders/h1/0858kwcj3q9dmgv6nwdz9m540000gp/T/ipykernel_42183/65486929.py:1: DtypeWarning: Columns (36,46,48,64) have mixed types. Specify dtype option on import or set low_memory=False.
  active = pd.read_csv('/Users/albert/code/bankgreen-django/datasource/local/usnic/CSV_ATTRIBUTES_ACTIVE.CSV')[0:100]

In [52]:
len(rssds)

100

In [53]:
branches = pd.read_csv('/Users/albert/code/bankgreen-django/datasource/local/usnic/CSV_ATTRIBUTES_BRANCHES.CSV')

/var/folders/h1/0858kwcj3q9dmgv6nwdz9m540000gp/T/ipykernel_42183/2704325541.py:1: DtypeWarning: Columns (20,46,64,65,71,72) have mixed types. Specify dtype option on import or set low_memory=False.
  branches = pd.read_csv('/Users/albert/code/bankgreen-django/datasource/local/usnic/CSV_ATTRIBUTES_BRANCHES.CSV')

In [54]:
branches_abridged = branches[branches["ID_RSSD_HD_OFF"].isin(rssds)]
branches_abridged.to_csv('/Users/albert/code/bankgreen-django/datasource/local/usnic/CSV_ATTRIBUTES_BRANCHES_ABRIDGED.CSV')

In [28]:
# Find out whether control exists between multiple banks or just one in the relationship dataset

In [55]:
rels = pd.read_csv('/Users/albert/code/bankgreen-django/datasource/local/usnic/CSV_RELATIONSHIPS.CSV')
# rssds = [x for x in active["#ID_RSSD"].unique()]

In [29]:
controlled_all = rels[rels["CTRL_IND"] == 1]
controlled_active = controlled_all[rels["DT_END"] == 99991231]

/var/folders/h1/0858kwcj3q9dmgv6nwdz9m540000gp/T/ipykernel_42183/657867106.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  controlled_active = controlled_all[rels["DT_END"] == 99991231]

In [30]:
controlled_children = controlled_active["ID_RSSD_OFFSPRING"]

In [31]:
duplicated_controlled = [x for x in controlled_children[controlled_children.duplicated(keep=False)]]

In [32]:
dual_control = controlled_active[controlled_active["ID_RSSD_OFFSPRING"].isin(duplicated_controlled)].sort_values(by=["ID_RSSD_OFFSPRING", "#ID_RSSD_PARENT"])

# duplicated.sort_values(by=["ID_RSSD_OFFSPRING", "#ID_RSSD_PARENT"])

In [33]:
dual_control[["#ID_RSSD_PARENT", "ID_RSSD_OFFSPRING", "EQUITY_IND", "OTHER_BASIS_IND", "PCT_EQUITY", "RELN_LVL", "REGK_INV"]]

,#ID_RSSD_PARENT,ID_RSSD_OFFSPRING,EQUITY_IND,OTHER_BASIS_IND,PCT_EQUITY,RELN_LVL,REGK_INV
257267,4759669,936462,1,0,40.0,1,0
266208,5375459,936462,1,0,45.0,1,0
158942,2492485,1080652,1,0,54.0,1,0
213779,3793219,1080652,1,0,29.0,1,0
143043,1975075,1103766,1,0,36.0,1,0
...,...,...,...,...,...,...,...
223512,3943470,5807558,2,1,0.0,1,0
273572,5807530,5807558,0,1,0.0,1,0
269605,5556968,5807615,2,1,0.0,1,0
269618,5557031,5807615,0,1,0.0,1,0
272796,5733433,5807615,0,1,0.0,1,0

In [34]:
dual_control.columns

Index(['#ID_RSSD_PARENT', 'ID_RSSD_OFFSPRING', 'D_DT_START', 'RELN_LVL',
       'CTRL_IND', 'D_DT_RELN_EST', 'EQUITY_IND', 'OTHER_BASIS_IND',
       'PCT_EQUITY', 'PCT_OTHER', 'REASON_ROW_CRTD', 'REASON_TERM_RELN',
       'REG_IND', 'PCT_EQUITY_BRACKET', 'PCT_EQUITY_FORMAT', 'D_DT_END',
       'MB_COST', 'FC_IND', 'REGK_INV', 'DT_END', 'DT_RELN_EST', 'DT_START'],
      dtype='object')

In [23]:
active[active["#ID_RSSD"] == 2492485]

,#ID_RSSD,D_DT_START,D_DT_END,BHC_IND,BROAD_REG_CD,CHTR_AUTH_CD,CHTR_TYPE_CD,FBO_4C9_IND,FHC_IND,FUNC_REG,...,URL,SLHC_IND,SLHC_TYPE_IND,PRIM_FED_REG,STATE_INC_CD,CNTRY_INC_CD,STATE_INC_ABBR_NM,CNTRY_INC_NM,ID_LEI,IHC_IND
22174,2492485,01/01/2018 00:00:00,12/31/9999 00:00:00,1,3,0,500,0,1,0,...,WWW.CBTN.COM,0,0,FRS,47,0,TN,NaN,0,0

# get just relationships where offspring is in the active abridged file

In [57]:
# rssds
active_abridged  = pd.read_csv('/Users/albert/code/bankgreen-django/datasource/local/usnic/CSV_ATTRIBUTES_ACTIVE_ABRIDGED.CSV')
rssds_abridged = [x for x in active["#ID_RSSD"].unique()]
rels_abridged = rels[rels["ID_RSSD_OFFSPRING"].isin(rssds_abridged)]

In [58]:
len(rssds_abridged)

100

In [62]:
rels_abridged.shape

(100, 22)

In [64]:
rels_abridged.to_csv('/Users/albert/code/bankgreen-django/datasource/local/usnic/CSV_RELATIONSHIPS_ABRIDGED.CSV')

# delete

In [82]:
abridged = pd.read_csv('/Users/albert/code/bankgreen-django/datasource/local/usnic/CSV_ATTRIBUTES_ACTIVE_ABRIDGED.CSV')

In [90]:
rssds = abridged["#ID_RSSD"].unique()

In [93]:
# pd.options.display.max_columns = 100
rels_abridged = rels[rels["ID_RSSD_OFFSPRING"].isin(rssds)]
rels_abridged.to_csv('/Users/albert/code/bankgreen-django/datasource/local/usnic/CSV_RELATIONSHIPS_ABRIDGED.CSV')

In [91]:
len(rssds)

100

In [97]:
rels_abridged["ID_RSSD_OFFSPRING"].values

array([ 1155,   505,   505, 42457, 14650, 14650, 14650, 14650,  1454,
       14753, 14753, 14753, 14753, 72258, 72258, 72258, 72258,  1155,
        1856, 42420, 29636, 29636, 29636, 29636, 31255, 31255, 42448,
       58757, 30650, 30650, 30650, 30650, 30650, 30650, 30650, 30650,
       16551, 16551, 57451, 57451, 57451,   457,   457,   457, 43052,
       43052, 43052, 58355, 58355, 28732, 28732, 43959, 43959, 58225,
       56548,  2161,  2161, 31134, 30052, 30810, 30810, 58243, 58243,
       58243, 58243,  1155,  1155,  1155, 58243, 71457, 56717, 30810,
       58551, 58757, 58757,  1669,  1669, 58636, 30052, 30502, 14865,
       30052,  2161, 31255, 43351, 43959,   242,   279, 43351, 43351,
       43351, 71073, 71073, 30810, 71859, 70638, 58355, 30650, 43351,
         279])