In [101]:
import pandas as pd

In [102]:
active = pd.read_csv('/Users/albert/code/bankgreen-django/datasource/local/usnic/CSV_ATTRIBUTES_ACTIVE.CSV')[0:100]
active.to_csv('/Users/albert/code/bankgreen-django/datasource/local/usnic/CSV_ATTRIBUTES_ACTIVE_ABRIDGED.CSV')
rssds = [x for x in active["#ID_RSSD"].unique()]

/var/folders/h1/0858kwcj3q9dmgv6nwdz9m540000gp/T/ipykernel_42183/65486929.py:1: DtypeWarning: Columns (36,46,48,64) have mixed types. Specify dtype option on import or set low_memory=False.
  active = pd.read_csv('/Users/albert/code/bankgreen-django/datasource/local/usnic/CSV_ATTRIBUTES_ACTIVE.CSV')[0:100]

In [103]:
len(rssds)

100

In [104]:
branches = pd.read_csv('/Users/albert/code/bankgreen-django/datasource/local/usnic/CSV_ATTRIBUTES_BRANCHES.CSV')

/var/folders/h1/0858kwcj3q9dmgv6nwdz9m540000gp/T/ipykernel_42183/2704325541.py:1: DtypeWarning: Columns (20,46,64,65,71,72) have mixed types. Specify dtype option on import or set low_memory=False.
  branches = pd.read_csv('/Users/albert/code/bankgreen-django/datasource/local/usnic/CSV_ATTRIBUTES_BRANCHES.CSV')

In [105]:
branches_abridged = branches[branches["ID_RSSD_HD_OFF"].isin(rssds)]
branches_abridged.to_csv('/Users/albert/code/bankgreen-django/datasource/local/usnic/CSV_ATTRIBUTES_BRANCHES_ABRIDGED.CSV')

In [106]:
# Find out whether control exists between multiple banks or just one in the relationship dataset

In [107]:
rels = pd.read_csv('/Users/albert/code/bankgreen-django/datasource/local/usnic/CSV_RELATIONSHIPS.CSV')
# rssds = [x for x in active["#ID_RSSD"].unique()]

In [108]:
controlled_all = rels[rels["CTRL_IND"] == 1]
controlled_active = controlled_all[rels["DT_END"] == 99991231]

/var/folders/h1/0858kwcj3q9dmgv6nwdz9m540000gp/T/ipykernel_42183/657867106.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  controlled_active = controlled_all[rels["DT_END"] == 99991231]

In [109]:
controlled_children = controlled_active["ID_RSSD_OFFSPRING"]

In [110]:
duplicated_controlled = [x for x in controlled_children[controlled_children.duplicated(keep=False)]]

In [111]:
dual_control = controlled_active[controlled_active["ID_RSSD_OFFSPRING"].isin(duplicated_controlled)].sort_values(by=["ID_RSSD_OFFSPRING", "#ID_RSSD_PARENT"])

# duplicated.sort_values(by=["ID_RSSD_OFFSPRING", "#ID_RSSD_PARENT"])

In [112]:
dual_control[["#ID_RSSD_PARENT", "ID_RSSD_OFFSPRING", "EQUITY_IND", "OTHER_BASIS_IND", "PCT_EQUITY", "RELN_LVL", "REGK_INV"]]

,#ID_RSSD_PARENT,ID_RSSD_OFFSPRING,EQUITY_IND,OTHER_BASIS_IND,PCT_EQUITY,RELN_LVL,REGK_INV
257267,4759669,936462,1,0,40.0,1,0
266208,5375459,936462,1,0,45.0,1,0
158942,2492485,1080652,1,0,54.0,1,0
213779,3793219,1080652,1,0,29.0,1,0
143043,1975075,1103766,1,0,36.0,1,0
...,...,...,...,...,...,...,...
223512,3943470,5807558,2,1,0.0,1,0
273572,5807530,5807558,0,1,0.0,1,0
269605,5556968,5807615,2,1,0.0,1,0
269618,5557031,5807615,0,1,0.0,1,0
272796,5733433,5807615,0,1,0.0,1,0

In [113]:
dual_control.columns

Index(['#ID_RSSD_PARENT', 'ID_RSSD_OFFSPRING', 'D_DT_START', 'RELN_LVL',
       'CTRL_IND', 'D_DT_RELN_EST', 'EQUITY_IND', 'OTHER_BASIS_IND',
       'PCT_EQUITY', 'PCT_OTHER', 'REASON_ROW_CRTD', 'REASON_TERM_RELN',
       'REG_IND', 'PCT_EQUITY_BRACKET', 'PCT_EQUITY_FORMAT', 'D_DT_END',
       'MB_COST', 'FC_IND', 'REGK_INV', 'DT_END', 'DT_RELN_EST', 'DT_START'],
      dtype='object')

In [114]:
active[active["#ID_RSSD"] == 2492485]

Empty DataFrame
Columns: [#ID_RSSD, D_DT_START, D_DT_END, BHC_IND, BROAD_REG_CD, CHTR_AUTH_CD, CHTR_TYPE_CD, FBO_4C9_IND, FHC_IND, FUNC_REG, INSUR_PRI_CD, MBR_FHLBS_IND, MBR_FRS_IND, SEC_RPTG_STATUS, EST_TYPE_CD, BANK_CNT, BNK_TYPE_ANALYS_CD, D_DT_EXIST_CMNC, D_DT_EXIST_TERM, FISC_YREND_MMDD, D_DT_INSUR, D_DT_OPEN, FNCL_SUB_HOLDER, FNCL_SUB_IND, IBA_GRNDFTHR_IND, IBF_IND, ID_RSSD_HD_OFF, MJR_OWN_MNRTY, NM_LGL, NM_SHORT, NM_SRCH_CD, ORG_TYPE_CD, REASON_TERM_CD, CNSRVTR_CD, ENTITY_TYPE, AUTH_REG_DIST_FRS, ACT_PRIM_CD, CITY, CNTRY_NM, ID_CUSIP, STATE_ABBR_NM, PLACE_CD, STATE_CD, STATE_HOME_CD, STREET_LINE1, STREET_LINE2, ZIP_CD, ID_THRIFT, ID_THRIFT_HC, DOMESTIC_IND, ID_ABA_PRIM, ID_FDIC_CERT, ID_NCUA, COUNTY_CD, DIST_FRS, ID_OCC, CNTRY_CD, DT_END, DT_EXIST_CMNC, DT_EXIST_TERM, DT_INSUR, DT_OPEN, DT_START, ID_TAX, PROV_REGION, URL, SLHC_IND, SLHC_TYPE_IND, PRIM_FED_REG, STATE_INC_CD, CNTRY_INC_CD, STATE_INC_ABBR_NM, CNTRY_INC_NM, ID_LEI, IHC_IND]
Index: []

# get just relationships where offspring is in the active abridged file

In [115]:
# rssds
active_abridged  = pd.read_csv('/Users/albert/code/bankgreen-django/datasource/local/usnic/CSV_ATTRIBUTES_ACTIVE_ABRIDGED.CSV')
rssds_abridged = [x for x in active["#ID_RSSD"].unique()]
rels_abridged = rels[rels["ID_RSSD_OFFSPRING"].isin(rssds_abridged)]

In [116]:
len(rssds_abridged)

100

In [117]:
rels_abridged.shape

(100, 22)

In [118]:
rels_abridged.to_csv('/Users/albert/code/bankgreen-django/datasource/local/usnic/CSV_RELATIONSHIPS_ABRIDGED.CSV')

# delete

In [119]:
abridged = pd.read_csv('/Users/albert/code/bankgreen-django/datasource/local/usnic/CSV_ATTRIBUTES_ACTIVE_ABRIDGED.CSV')

In [120]:
rssds = abridged["#ID_RSSD"].unique()

In [93]:
# pd.options.display.max_columns = 100
rels_abridged = rels[rels["ID_RSSD_OFFSPRING"].isin(rssds)]
rels_abridged.to_csv('/Users/albert/code/bankgreen-django/datasource/local/usnic/CSV_RELATIONSHIPS_ABRIDGED.CSV')

In [123]:
rels[rels["ID_RSSD_OFFSPRING"] == 1155]

,#ID_RSSD_PARENT,ID_RSSD_OFFSPRING,D_DT_START,RELN_LVL,CTRL_IND,D_DT_RELN_EST,EQUITY_IND,OTHER_BASIS_IND,PCT_EQUITY,PCT_OTHER,REASON_ROW_CRTD,REASON_TERM_RELN,REG_IND,PCT_EQUITY_BRACKET,PCT_EQUITY_FORMAT,D_DT_END,MB_COST,FC_IND,REGK_INV,DT_END,DT_RELN_EST,DT_START
16775,469951,1155,02/20/1987 00:00:00,4,1,02/20/1987 00:00:00,1,0,29.0,0.0,1,2,1,25-50,EXACT,09/29/1987 00:00:00,0,0,0,19870929,19870220,19870220
55140,1060270,1155,03/16/1981 00:00:00,1,1,03/16/1981 00:00:00,1,0,98.0,0.0,1,1,1,80-100,EXACT,02/19/1987 00:00:00,0,0,0,19870219,19810316,19810316
105897,1230439,1155,12/31/1970 00:00:00,1,1,09/15/1966 00:00:00,1,0,98.0,0.0,1,1,1,80-100,EXACT,03/15/1981 00:00:00,0,0,0,19810315,19660915,19701231
119079,1247231,1155,09/30/1987 00:00:00,1,1,09/30/1987 00:00:00,1,0,99.0,0.0,1,0,1,80-100,EXACT,07/12/1998 00:00:00,0,0,0,19980712,19870930,19870930
119080,1247231,1155,07/13/1998 00:00:00,1,1,09/30/1987 00:00:00,1,0,100.0,0.0,2,0,1,100,EXACT,12/31/9999 00:00:00,0,0,0,99991231,19870930,19980713

In [124]:
"50-100".split('-')[-1]

'100'

In [121]:
rels_abridged

,#ID_RSSD_PARENT,ID_RSSD_OFFSPRING,D_DT_START,RELN_LVL,CTRL_IND,D_DT_RELN_EST,EQUITY_IND,OTHER_BASIS_IND,PCT_EQUITY,PCT_OTHER,REASON_ROW_CRTD,REASON_TERM_RELN,REG_IND,PCT_EQUITY_BRACKET,PCT_EQUITY_FORMAT,D_DT_END,MB_COST,FC_IND,REGK_INV,DT_END,DT_RELN_EST,DT_START
16775,469951,1155,02/20/1987 00:00:00,4,1,02/20/1987 00:00:00,1,0,29.0,0.0,1,2,1,25-50,EXACT,09/29/1987 00:00:00,0,0,0,19870929,19870220,19870220
50619,1048728,505,05/18/1983 00:00:00,1,1,05/18/1983 00:00:00,1,0,75.0,0.0,1,0,1,>50-<80,EXACT,12/30/1984 00:00:00,0,0,0,19841230,19830518,19830518
50620,1048728,505,12/31/1984 00:00:00,1,1,05/18/1983 00:00:00,1,0,100.0,0.0,2,0,1,100,EXACT,12/31/9999 00:00:00,0,0,0,99991231,19830518,19841231
52553,1053142,42457,12/31/1970 00:00:00,1,1,11/15/1968 00:00:00,1,0,89.0,0.0,1,0,1,80-100,EXACT,12/31/9999 00:00:00,0,0,0,99991231,19681115,19701231
53288,1054729,14650,11/07/1974 00:00:00,1,1,11/07/1974 00:00:00,1,0,91.0,0.0,1,0,1,80-100,EXACT,12/30/1984 00:00:00,0,0,0,19841230,19741107,19741107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232130,4189314,70638,01/01/2012 00:00:00,1,1,01/01/2012 00:00:00,1,0,100.0,0.0,1,0,1,100,EXACT,12/31/9999 00:00:00,0,0,0,99991231,20120101,20120101
232397,4203425,58355,05/08/2012 00:00:00,1,1,05/08/2012 00:00:00,1,0,100.0,0.0,1,0,1,100,EXACT,12/31/9999 00:00:00,0,0,0,99991231,20120508,20120508
265044,5281989,30650,03/31/2022 00:00:00,1,1,03/31/2022 00:00:00,1,0,100.0,0.0,1,0,1,100,EXACT,12/31/9999 00:00:00,0,0,0,99991231,20220331,20220331
265244,5301140,43351,01/01/2019 00:00:00,1,1,01/01/2019 00:00:00,1,0,100.0,0.0,1,0,1,100,EXACT,12/31/9999 00:00:00,0,0,0,99991231,20190101,20190101
270146,5586862,279,07/15/2021 00:00:00,1,1,07/15/2021 00:00:00,1,0,100.0,0.0,1,0,1,100,EXACT,12/31/9999 00:00:00,0,1,0,99991231,20210715,20210715